@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.simplebar-content-wrapper {
  overflow: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

body {
  font-family: 'OpenSans';
}

.container {
  max-width: 1604px;
  margin: 0 auto;
}

.title {
  margin-bottom: 30px;

  font-size: 48px;
  font-weight: 400;
}

.active {
  display: block !important;
}

.not-active {
  display: none !important;
}

.visible {
  opacity: 1 !important;
}

.purple-color {
  color: #9D5CD0 !important;
  transition: color .3s ease-in-out;
}

:root {
  --mainPurple: #9D5CD0;
  --hoverPurple: #C283F3;
  --darkPurple: #7943A4;
}

*:focus {
  outline: none;
}

/* Header-up */
.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.header__wrapper {
  padding: 30px 0;

  background-color: #000;
}

.header-logo {
  margin-right: -120px;
}

.header-logo:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 5px;
}

.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  transform: translateX(10px);
}

.header-nav__list {
  display: flex;
}

.header-nav__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.55px;

  transition: color .3s ease-in-out;
}

.header-nav__link:hover {
  color: var(--hoverPurple);
  transition: color .3s ease-in-out;
}

.header-nav__link:active {
  color: var(--darkPurple);
  transition: color .3s ease-in-out;
}

.header-nav__link:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 3px;
  border-radius: none;
}

.header-nav__item:not(:last-child) {
  margin-right: 62px;
}

.header-enter {
  position: relative;

  padding-left: 25px;

  font-size: 18px;
  font-weight: 400;

  transition: color .3s ease-in-out;
}

.header-enter:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 3px;
}

.header-enter:hover {
  color: var(--hoverPurple);
  transition: color .3s ease-in-out;
}

.header-enter:active {
  color: var(--darkPurple);
}

.header-enter::before {
  content: '';

  position: absolute;
  left: 2px;
  bottom: 3px;

  width: 13px;
  height: 13px;

  background-image: url(../img/icon-enter.svg);
  transition: background-image .3s ease-in-out;
}

.header-enter:hover:before {
  background-image: url(../img/icon-enter-hover.svg);
  transition: background-image .3s ease-in-out;
}

.header-enter:active:before {
  background-image: url(../img/icon-enter-active.svg);
}

.header-enter:focus:before {
  outline: none;
}

.header__burger {
  display: none;
}

.header__search {
  display: none;
}

/* Widget */
.widget {
  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.widget__inner {
  display: flex;
  align-items: center;
  padding: 21px 0;
}

.widget__list {
  display: flex;
  align-items: center;
}

.widget-list__wrapper {
  position: absolute;
  top: 170px;

  width: 300px;
  height: 300px;

  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.widget__list-section:not(:last-child) {
  margin-right: 92.5px;
}

.widget-list__title {
  position: relative;

  padding-right: 20px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 40;
  letter-spacing: 0.5px;

  background-color: transparent;
  color: #fff;
  transition: color .3s ease-in-out;

  cursor: pointer;
}

.widget-list__title:hover {
  color: var(--hoverPurple);
  transition: color .3s ease-in-out;
}

.widget-list__title:active {
  color: var(--darkPurple);
  transition: color .3s ease-in-out;
}

.widget-list__title:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 2px;
}

.widget__for-icon {
  position: absolute;
  top: 7px;
  right: 0;

  width: 15px;
  height: 15px;

  background: url(../img/icon-downarrow.svg) no-repeat;
  transition: background .3s ease-in-out;
}

.widget__for-icon-darkPurple {
  color:#7943A4 !important;
}

.widget__for-icon-white {
  color:#fff;
}

.widget__list-section:hover .widget__for-icon {
  background: url(../img/icon-downarrow-hover.svg) no-repeat;
  transition: background .3s ease-in-out;
}

.widget__for-icon-click {
  background: url(../img/icon-uparrow-darkPurple.svg) no-repeat !important;
}

.widget-list {
  position: absolute;
  top: 0;

  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 280px;
  max-height: 224px;

  overflow: auto;
  overflow-x: hidden;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 0;
  opacity: 1;

  background-color: #fff;
}

.simplebar-scrollbar.simplebar-visible::before {
  background-color: #9D5CD0;
  opacity: 1;
}

.widget-list__item {
  width: 220px;

  font-size: 14px;
  line-height: 19px;

  color: #fff;

  cursor: pointer;

  outline: transparent;
  transition: outline .3s ease-in-out;
}

.widget-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.widget-list__item:first-child {
  margin-top: 2px;
}

.widget-list__item:hover {
  outline: 2px solid var(--darkPurple);
  transition: outline .3s ease-in-out;
}

.item-wrapper {
  padding: 10px 14px;

  word-wrap: break-word;

  outline: none;
  transition: outline .3s ease-in-out;
}

.item-wrapper-clicked {
  background-color: rgba(194, 131, 243, 0.4);
  transition: background-color .3s ease-in-out;

  outline: 2px solid #D1A9F0;
  transition: outline .3s ease-in-out;
}

.widget__search {
  position: relative;

  margin-left: auto;
  width: 222px;
  border-bottom: rgba(255, 255, 255, 0.85);
}

.widget__search-input:focus {
  outline: 2px solid var(--darkPurple);
}

.widget__search-input {
  position: relative;
  left: -35px;

  padding-left: 35px;
  width: 118%;

  background-color: transparent;
  color: #fff;
}

.widget__search-input:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 8px;
}

.widget__search-input:focus::placeholder {
  color: transparent;
}

.widget__search-input:focus {
  caret-color: var(--hoverPurple);
}

.widget__search-input::placeholder {
  color: #fff;

  font-weight: 400;
  font-size: 18px;
}

.widget__search-icon {
  position: absolute;
  left: -33px;
  top: 0;
  z-index: 10;

  width: 23px;
  height: 21px;

  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  transition: background-image .3s ease-in-out;

  cursor: pointer;
}

.widget__search:hover .widget__search-icon  {
  background-image: url(../img/icon-search-hover.svg);
  transition: background-image .3s ease-in-out;
}

.widget__search-icon--hover {
  background-image: url(../img/icon-search-hover.svg);
  transition: background-image .3s ease-in-out;
}

.widget__search::after {
  content: '';

  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;

  width: 100%;
  height: 1px;

  background-color:rgba(255, 255, 255, 0.85);
  transition: background-color .3s ease-in-out;
}

.widget__search:hover::after {
  background-color: var(--hoverPurple);
  transition: background-color .3s ease-in-out;
}

/* Hero */
.hero {
  transform: translateX(-9px);
}

.hero__inner {
  padding-top: 238px;
  padding-bottom: 122px;
}

.hero__title {
  margin-left: 5px;
  margin-bottom: 21px;
  max-width: 600px;

  font-size: 72px;
  font-weight: 700;
  line-height: 84px;

  color: #fff;
}

.hero__subtitle {
  margin-left: 10px;
  margin-bottom: 92px;
  max-width: 580px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  color: #fff;
}

.hero__btn {
  position: relative;

  margin-left: 10px;
  padding: 25.5px 36px 25.5px 36px;
  border-radius: 100px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.1px;

  background: var(--mainPurple);
  transition: background-color .2s ease-in-out;
  color: #fff;

  pointer-events: auto;
}

.hero__btn:after {
  content: '';

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 101%;
  height: 101%;
  border: 3px solid #D1A9F0;
  border-radius: 100px;

  background-color: transparent;

  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.hero__btn:hover::after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.hero__btn:focus.hero__btn::after {
  top: -5px;
  left: -5px;

  width: 103%;
  height: 115%;
  border: 2px solid #C283F3;

  opacity: 1;
}

.hero__btn:active {
  background-color: #7943A4;
  transition: background-color .2s ease-in-out;
}

.hero__btn:active::after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.hero__fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  pointer-events: none;
}

.hero__swiper-slide {
  height: 800px;f
}

.hero1 {
  background: url(../img/hero1-desktop.jpg);
}

.hero2 {
  background: url(../img/hero2-desktop.jpg);
}

.hero3 {
  background: url(../img/hero3-desktop.jpg);
}

/* About */
.about {
  padding-top: 85px;
  padding-bottom: 73px;
}

.about__title {
  margin-bottom: 25px;
}

.about__suptitle {
  max-width: 1080px;

  font-size: 16px;
  line-height: 31px;
}

/* Gallery */
.gallery {
  background: url(../img/gallery-background-desktop.jpg) no-repeat center;
}

.gallery__title {
  display: inline-block;
  margin-bottom: 22px;
  max-width: 400px;

  color: #fff;
}

.gallery__inner {
  display: flex;
  padding-top: 88px;
  padding-bottom: 80px;
}

.gallery__leftside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 51px;
  max-width: 400px;
  width: 100%;
}

.gallery__select-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #Fff;
}

.gallery__select-suptitle {
  max-width: 370px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;

  color: #Fff;
}

.gallery__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #D1A9F0;
  transition: color .3s linear;
}

.gallery__link:visited {
  color: #D1A9F0;
}

.gallery__link:hover {
  color: var(--hoverPurple);
  transition: color .3s linear;
}

.gallery__link:active {
  color: var(--darkPurple);
}

.gallery__link:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 3px;
}

#gallery__select {
  width: 100%;
}

#gallery__select > option {
  font-size: 16px;
}

.gallery__rightside-container {
  display: flex;
  flex-direction: column;
}

.gallery__swiper-container {
  max-width: 1150px;
  max-height: 750px;
  overflow: hidden;
}

.gallery__swiper-slide {
  position: relative;

  max-width: 350px;
  max-height: 350px;

  transition: opacity .3s ease-in-out;
}

.gallery__swiper-slide::after {
  opacity: 0;
  transition: opacity .3s ease-in-out;

  content: '';

  position: absolute;
  top: 7%;
  left: 7%;
  z-index: 10;

  width: 85%;
  height: 85%;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/icon-galleryitem-hover.svg);
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.gallery__swiper-slide:hover::after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.gallery__swiper-slide--clicked {
  position: absolute;
  top: 0;
  z-index: 11;

  display: none;
  width: 100%;
  height: 100%;
  outline: #C283F3;

  background-color: rgba(194, 131, 243, 0.4);

  cursor: pointer;
}

.pagination-container {
  position: relative;

  display: flex;
  margin-top: 17px;
  margin-bottom: 30px;
  height: fit-content;
}

.pagination-numbers {
  position: absolute;
  top: 5px;
  left: 50px;

  width: fit-content;

  color: #fff;
}

.pagination-arrows {
  width: 30px;
  height: 30px;
  z-index: 10;
}

.pagination-arrows__prev {
  margin-right: 80px;
  background: url(../img/icon-swiper-leftarrow.svg) center no-repeat;
  transition: background .3s ease-in-out;
}

.pagination-arrows__next {
  background: url(../img/icon-swiper-rightarrow.svg) center no-repeat;
  transition: background .3s ease-in-out;
}

.pagination-arrows__prev:hover {
  background: url(../img/icon-swiper-leftarrow-hover.svg) center no-repeat;
  transition: background .3s ease-in-out;
}

.pagination-arrows__next:hover {
  background: url(../img/icon-swiper-rightarrow-hover.svg) center no-repeat;
  transition: background .3s ease-in-out;
}

.pagination-arrows__prev:active {
  background: url(../img/icon-swiper-leftarrow-activeborder.svg) center no-repeat;
  transition: background .3s ease-in-out;
}

.pagination-arrows__next:active {
  background: url(../img/icon-swiper-rightarrow-activeborder.svg) center no-repeat;
  transition: background .3s ease-in-out;
}

/* Choices */
.choices__inner {
  padding: 3.5px 15px 13.5px 15px;
  min-height: 40px;
  border: 1px solid #fff;
  border-radius: 6px;

  background-color: transparent;
  color: #fff;
  opacity: 1;

  font-size: 16px;
  font-weight: 400;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one]::after {
  content: url(../img/icon-downarrow.svg);

  top: 8px;
  right: 20px;

  border-color: transparent transparent transparent;
}

.choices[data-type*=select-one].is-open::after {
  content: url(../img/icon-uparrow.svg);

  top: 15px;
  right: 20px;

  border-color: transparent transparent transparent;
}

.choices__list--dropdown {
  border-color: transparent;

  background-color: transparent;
  color: #999;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.is-open .choices__list--dropdown {
  border: none;
}

.choices__list--dropdown .choices__item {
  padding: 3px 20px 4px 25px;
  width: 100%;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  border: 1px solid #999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  border: 1px solid #fff;
  transition: border .2s ease-in-out;

  color: #fff;
  transition: color .2s ease-in-out;

  background-color: transparent;
}

.choices__item--disabled {
  display: none;
}

/* Catalogue */
.catalogue__title {
  display: inline-block;
  margin-bottom: 27px;
}

.catalogue__inner {
  padding-top: 87px;
}

.catalogue__text {
  margin-bottom: 50px;
  max-width: 1080px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.catalogue__tabs-nav {
  display: inline-block;
  margin-top: -20px;

  transform: translate(25px, 15px);
}

.tabs__list {
  display: flex;
}

.tabs__item {
  width: 66px;
  height: 66px;
}

.tabs__item:not(:last-child) {
  margin-right: 30px;
}

.tabs__link {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: border .2s ease-in-out;
}

.tabs__link.active {
  border: 2px solid var(--mainPurple);
  border-radius: 50%;
  transition: border .2s ease-in-out;

  pointer-events: none;
}

.tabs__link::before {
  content: '';

  position: absolute;
  top: 10px;
  left: 11px;
  right: 0;

  display: block;
  width: 68%;
  height: 69%;
  border-radius: 50%;

  opacity: 0;
  transition: opacity .3s ease-in-out;
  box-shadow: rgba(157, 92, 208, 0.7) 0px 0px 20px 2px;
}

.tabs__link:hover::before {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.tabs__link--active-france:active {
  background: url(../img/catalogue-tabsnav-france-clicked.svg) no-repeat center !important;
  transition: background .1s ease-in-out;
}

.tabs__link--active-germany:active {
  background: url(../img/catalogue-tabsnav-germany-clicked.svg) no-repeat center !important;
  transition: background .1s ease-in-out;
}

.tabs__link--active-italy:active {
  background: url(../img/catalogue-tabsnav-italy-clicked.svg) no-repeat center !important;
  transition: background .1s ease-in-out;
}

.tabs__link--active-russia:active {
  background: url(../img/catalogue-tabsnav-russia-clicked.svg) no-repeat center !important;
  transition: background .1s ease-in-out;
}

.tabs__link--active-belgium:active {
  background: url(../img/catalogue-tabsnav-belgium-clicked.svg) no-repeat center !important;
  transition: background .1s ease-in-out;
}

.tabs-content__bio {
  margin-right: 50px;
  max-width: 750px;
  height: 100%;
}

.bio__wrapper {
  width: 1px;
  height: 1px;

  opacity: 0;
  z-index: -10;
}

.card-active {
  opacity: 1;
  width: auto;
  height: auto;
  z-index: auto;
  transform: translateY(0);
  transition: opacity .3s linear, -webkit-transform .25s linear;
  transition: transform .25s linear, opacity .3s linear;
  transition: transform .25s linear, opacity .3s linear, -webkit-transform .25s linear;
}

.bio__img {
  max-width: 100%;
  max-height: 470px;
  margin-bottom: 26px;
}

.bio__name {
  margin-bottom: 11px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.bio__date {
  margin-bottom: 5px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  color: #cacaca;
}

.bio__text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.tabs-content__title {
  line-height: 32px;
  font-weight: 600;

  color: #333;
  transition: color .3s ease-in-out;
}

.tabs-content__title:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 1px;
}

.tabs-content__title:hover {
  color: var(--hoverPurple);
  transition: color .3s ease-in-out;
}

.tabs-content__title:active {
  color: var(--darkPurple);
  transition: color .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.catalogue__tabs-content {
  display: flex;
  margin-bottom: 86px;
}

.tabs-content__wrapper {
  display: none;
  max-width: 800px;
  width: 100%;
}

.tabs-content__wrapper.active {
  display: block;
}

.tabs-content__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 341px;
  height: 100%;
  overflow: hidden !important;
}

.tabs-content__link {
  position: relative;

  display: block;
  width: fit-content;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 57px;

  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  transition: color .2s;
}

.tabs-content__link:visited {
  color: #333;
}

.tabs-content__link:hover {
  color: var(--mainPurple);
  transition: color .3s ease-in-out;
}

.tabs-content__link:active {
  color: var(--darkPurple);
  transition: color .3s ease-in-out;
}

.tabs-content__link:focus {
  color: var(--darkPurple);
  font-weight: 600;
  outline: 2px solid var(--darkPurple);
  transition: color .3s ease-in-out, font-weight .2s ease-in-out;
}

.tabs-content__link:hover::after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.tabs-content__link::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: opacity .3s ease-in-out;

  width: 100%;
  height: 1px;

  background-color: var(--hoverPurple);
}

.tabs-content__item {
  max-width: 210px;
  margin-left: 3px;
}

.tabs-content__item:not(:last-child) {
  margin-right: 47px;
}

.faded {
  opacity: 0;
  transition: opacity .2s;
}

.faded.in {
  opacity: 1;
  transition: opacity .2s;
}

/* Catalogue accordion */
.ui-state-active {
  background-color: transparent;
}

.ui-state-focus {
  border-bottom: 1px solid var(--mainPurple);
  outline: none;

  background-color: transparent;
}

.ui-icon {
  position: absolute;
  right: 0;

  width: 50px;
  height: 50px;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background: url(../img/icon-accordion-uparrow.svg);
}

.ui-icon, .ui-widget-content .ui-icon {
  background: url(../img/icon-accordion-downarrow.svg);
  transition: background .3s ease-in-out;
}

.ui-state-active .ui-icon {
  background: url(../img/icon-accordion-uparrow.svg) !important;
}

.tabs-content__title:active .ui-icon {
  background: url(../img/icon-accordion-uparrow-active.svg) !important;
  transition: background .3s ease-in-out;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background: url(../img/icon-accordion-downarrow-hover.svg);
  transition: background .3s ease-in-out;
}

.ui-accordion-header-collapsed {
  background-color:#fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-bottom: 1px solid #CACACA;
  border-top: none;
  border-right: none;
  border-left: none;
}

.ui-state-default:first-child, .ui-widget-content .ui-state-default:first-child, .ui-widget-header .ui-state-default:first-child, .ui-button:first-child, html .ui-button.ui-state-disabled:hover:first-child, html .ui-button.ui-state-disabled:active:first-child {
  border-top: 1px solid #CACACA;
}

.ui-accordion .ui-accordion-header {
  padding-top: 35px;
  padding-bottom: 44px;
  padding-right: 0;
  padding-left: 0;

  font-size: 24px;
}

.ui-accordion .ui-accordion-content {
  height: auto;
  padding: 24px 75px 26px 0;
}

.ui-widget-content {
  border-top: 1px solid var(--mainPurple) !important;
  border-bottom: 1px solid var(--mainPurple);
  border-right: none;
  border-left: none;
}

.ui-widget {
  font-family: 'OpenSans';
}

/* Events */
.events {
  margin-bottom: 77px;
}

.events__title {
  margin-bottom: 20px;
}

.events__inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.events__item {
  position: relative;

  margin-bottom: 49px;
  padding: 316px 18px 50px 50px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #cacaca;
  animation: appearance 0.7s linear forwards
}

.events__item1 {background: url(../img/events-item1-desktop.jpg) no-repeat top;}
.events__item2 {background: url(../img/events-item2-desktop.jpg) no-repeat top;}
.events__item3 {background: url(../img/events-item3-desktop.jpg) no-repeat top;}
.events__item4 {background: url(../img/events-item4-desktop.jpg) no-repeat top;}
.events__item5 {background: url(../img/events-item5-desktop.jpg) no-repeat top;}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__item-subtitle {
  min-width: 210px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: end;

  color: #999;
}

.events__item-title {
  margin-bottom: 5px;
  max-width: 420px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -1px;
}

.events__item-suptitle {
  max-width: 400px;
  min-height: 230px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.events__item-btn {
  position: absolute;
  bottom: 42px;
  border-bottom: 1px solid var(--mainPurple);

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  transition: font-weight .3s ease-in-out;

  background-color: transparent;
  color:var(--mainPurple) !important;
}

.events__item-btn:hover {
  font-weight: 700;
  transition: font-weight .3s ease-in-out;
}

.events__item-btn:active {
  color: var(--darkPurple);
}

.events__item-btn:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 3px;
}

.events__btn {
  display: block;
  margin: 0 auto;
  padding: 17px 35px;
  border: 2px solid var(--mainPurple);
  border-radius: 30px;

  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;

  background-color: #fff;
  color: var(--mainPurple);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.events__btn:hover {
  background-color: #9D5CD0;
  color: #fff;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.events__btn::after {
  content: '';

  position: absolute;
  top: 92.5%;
  left: 43.75%;

  width: 200px;
  height: 70px;
  border: 2px solid var(--darkPurple);
  border-radius: 100px;

  background-color: transparent;

  opacity: 0;
  transition: opacity .3s ease-in-out, border .3s ease-in-out;
}

.events__btn:hover::after {
  top: 93%;
  left: 44%;

  width: 193px;
  height: 65px;
  border: 3px solid #D1A9F0;

  opacity: 1;
  transition: opacity .3s ease-in-out, border .3s ease-in-out;
}

.events__btn:focus:after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

/* Books */
.books {
  background: url(../img/books-mainbackground-desktop.jpg) no-repeat center;
}

.books__inner {
  display: flex;
  padding-top: 86px;
  padding-bottom: 75px;
}

.books__leftside-container {
  margin-right: auto;
}

.books__title {
  margin-bottom: 22px;

  color: #fff;
}

.books__checkbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.checkbox-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;

  color: #fff;
}

.checkbox-label {
  position: relative;

  width: fit-content;
  padding-left: 24px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  color: #fff;
  transition: color .3s ease-in-out;

  cursor: pointer;
}

.checkbox-label:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 2px;
}

.checkbox-label__input {
  display: none;
}

.checkbox-label__input + span {
  position: absolute;
  top: 10px;
  left: 2px;

  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transition: border .3s ease-in-out;

  text-align: center;
}

.checkbox-label__input + span::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: opacity .3s ease-in-out;
  background: url(../img/icon-checkbox-dot.svg) no-repeat center;
}

.checkbox-label__input:checked + span::before {
  opacity: 1;
}

.checkbox-label__input:checked + span {
  border: 1px solid var(--mainPurple);
  transition: border .3s ease-in-out;
}

.prices__title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 700;

  color: #fff;
}

.books__prices {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.prices__label {
  text-align: center;
}

.prices__text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  color: #fff;
}

.prices__text--from {
  padding: 4px 7px 5px 12px;
}

.prices__text--to {
  padding: 4px 7px 5px 9px;
}

.prices__input {
  padding: 0 10px;
  width: 71px;
  height: 40px;

  color: #fff;
  background: rgba(157, 92, 208, 0.5);
}

.prices__text--currency {
  padding: 4px 16px 5px 0;
}

.books__rightside-container {
  padding-top: 28px;
  max-width: 1150px;
  width: 100%;
}

.books__swiper {
  overflow: hidden;
}

.books__pagination-container {
  margin-top: 0;
  margin-bottom: 30px;
}

.books-prev {
  margin-right: 70px;
}

.books-item {
  max-width: 350px;
}

.books-item__img {
  margin-bottom: 20px;
}

.books-item__inner {
  display: flex;
  justify-content: space-between;
}

.books-item__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  color: #fff;
}

.books-item__price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: italic;

  color: #fff;
}

.books-item__author {
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  color: #fff;
}

.books-item__btn {
  position: relative;

  padding: 8px 21px 8px 18px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  color: #fff;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

/* Projects */
.projects {
  margin-bottom: 80px;
}

.projects__inner {
  padding-top: 88px;
}

.projects__title {
  margin-bottom: 22px;
}

.projects__text {
  margin-bottom: 19px;
  max-width: 1080px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.projects__text > a {
  color: var(--mainPurple);
}

.projects__text > a:active {
  color: var(--darkPurple);
}

.projects__text > a:focus {
  outline: 2px solid var(--darkPurple);
  outline-offset: 2px;
}

.projects__tooltip {
  position: absolute;
}

.tooltip__marker {
  position: absolute;
  top: 8px;
  right: 2px;

  width: 16px;
  height: 16px;

  background: url(../img/icon-tooltip-beforehover.svg) center no-repeat;
  transition: background .3s ease-in-out;

  cursor: pointer;
}

.tooltip__marker:hover,
.tooltip__marker:focus {
  background: url(../img/icon-tooltip.svg) center no-repeat;
  transition: background .3s ease-in-out;

  outline: none;
}

.tooltip__marker:hover + .tooltip__popup,
.tooltip__marker:focus + .tooltip__popup {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.tooltip__popup {
  position: absolute;
  bottom: 10px;
  left: -157px;
  z-index: 100;

  padding: 8px 11px;
  width: 270px;
  margin-top: 10px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;

  background: #cacaca;
  color: #fff;

  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.tooltip__popup::after {
  content: url(../img/icon-arrow-fortooltip.svg);

  position: absolute;
  top: 89%;
  left: 50%;

  width: 20px;

  transform: rotate(90deg);
}

.partners__title {
  margin-bottom: 23px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.partners__inner {
  position: relative;
}

.partners__swiper-container {
  width: 1450px;
  margin: 0 auto;
  overflow: hidden;
}

.partners__list-item {
  width: 450px;
  height: 150px;

  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.partners-prev, .partners-next {
  position: absolute;
  top: 40%;
  z-index: 10;

  margin-right: 0;
}

.partners-next {
  right: 0;
  background-image: url(../img/icon-rightarrow-for_partners_swiper.svg);
}

.partners-prev {
  background-image: url(../img/icon-leftarrow-for_partners_swiper.svg)
}

.partners__list-item:hover {transition: background .3s ease-in-out;}

.p__l1 {background-image: url(../img/partners-swiper1\(not-hover\).jpg);}

.p__l1:hover {background-image: url(../img/partners-swiper1\(hover\).jpg);}

.p__l2 {background-image: url(../img/partners-swiper2\(not-hover\).jpg);}

.p__l2:hover {background-image: url(../img/partners-swiper2\(hover\).jpg);}

.p__l3 {background-image: url(../img/partners-swiper3\(not-hover\).jpg);}

.p__l3:hover {background-image: url(../img/partners-swiper3\(hover\).jpg);}

.p__l4 {background-image: url(../img/partners-swiper4\(not-hover\).jpg);}

.p__l4:hover {background-image: url(../img/partners-swiper4\(hover\).jpg);}

.p__l5 {background-image: url(../img/partners-swiper5\(not-hover\).jpg);}

.p__l5:hover {background-image: url(../img/partners-swiper5\(hover\).jpg);}

.p__l6 {background-image: url(../img/partners-swiper6\(not-hover\).jpg);}

.p__l6:hover {background-image: url(../img/partners-swiper6\(hover\).jpg);}

.p__l7 {background-image: url(../img/partners-swiper7\(not-hover\).jpg);}

.p__l7:hover {background-image: url(../img/partners-swiper7\(hover\).jpg);}

.p__l8 {background-image: url(../img/partners-swiper8\(not-hover\).jpg);}

.p__l8:hover {background-image: url(../img/partners-swiper8\(hover\).jpg);}

.p__l9 {background-image: url(../img/partners-swiper9\(not-hover\).jpg);}

.p__l9:hover {background-image: url(../img/partners-swiper9\(hover\).jpg);}

/* Contacts */
.contacts__title {
  margin-bottom: 23px;
}

.contacts__inner {
  position: relative;
}

.contacts__leftside-container {
  position: absolute;
  z-index: 100;

  padding: 123px 123px 123px 148px;
  max-width: 700px;
  width: 100%;
  border: 1px solid #cacaca;

  background-color: #fff;
}

.contacts__address {
  margin-bottom: 31px;

  line-height: 32px;
  font-style: normal;
}

.address__title {
  font-size: 24px;
  font-weight: 600;
}

.address__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.form__title {
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.contacts-form {
  margin-bottom: 35px;
}

.contacts-form__input {
  margin-bottom: 23px;
  padding: 4px 24px;
  width: 400px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 100px;
}

.contacts-form__input::placeholder {
  font-weight: 14px;
  line-height: 32px;
  font-weight: 400;
}

.contacts-form__btn {
  position: relative;

  padding: 17px 35px;
  border: 2px solid var(--mainPurple);
  border-radius: 30px;

  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;

  background-color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  color: var(--mainPurple);
}

.contacts-form__btn:hover {
  background-color: #9D5CD0;
  color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.contacts-form__btn::after {
  content: '';

  position: absolute;
  top: -7px;
  left: -8.5px;

  width: 110%;
  height: 126%;
  border: 2px solid var(--darkPurple);
  border-radius: 100px;

  background-color: transparent;

  opacity: 0;
  transition: opacity .3s ease-in-out, border .3s ease-in-out;
}

.contacts-form__btn:hover::after {
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  border: 3px solid #D1A9F0;

  opacity: 1;
  transition: opacity .3s ease-in-out, border .3s ease-in-out;
}

.contacts-form__btn:focus:after {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.social-media__span {
  display: inline-block;
  width: 40px;
  height: 40px;

  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.social-media__whatsapp {
  background-image: url(../img/icon-whatsup.svg); margin-right: 17px;
}

.social-media__tg {
  background-image: url(../img/icon-tg.svg);
}

.contacts__rightside-container {
  width: 100%;
  height: 703px;
}

[class *= 'ground-pane'] {
  filter: grayscale(1);
}

/* Footer */
.footer {
  background-color: #000;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
}

.footer__nav-icon {
  display: inline-block;
  width: 45px;
  height: 45px;

  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.footer__nav-link {
  display: inline-block;
}

.footer__nav-item:not(:last-child) {
  margin-right: 22px;
}

@media (max-width: 1919px) {
  .container {
    max-width: 925px;
  }

  .header__wrapper {
    padding: 27px 0;
  }

  .header-nav {
    display: none;
  }

  .header-enter {
    display: none;
  }

  .header__burger {
    display: block;
    order: -1;
    width: 36px;
    height: 28px;

    background: url(../img/1920-icon-burger.svg) center no-repeat;
    cursor: pointer;
  }

  .header-logo {
    order: 2;
    margin-left: -126px;
  }

  .header-logo__img {
    width: 190px;
    object-fit: cover;
  }

  .header__search {
    display: block;
    order: 3;
    width: 30px;
    height: 29px;

    background: url(../img/1920-icon-search.svg) center no-repeat;
    cursor: pointer;
  }

  .widget {
    display: none;
  }

  .swiper-container {
    max-width: 1024px;
  }

  .hero__swiper-container {
    transform: translateX(10px);
  }

  .hero__swiper-slide {
    max-height: 768px;
  }

  .hero1 {background: url(../img/1920-hero-swiper1.jpg);}
  .hero2 {background: url(../img/1920-hero-swiper2.jpg);}
  .hero3 {background: url(../img/1920-hero-swiper3.jpg);}

  .hero__inner {
    padding-bottom: 115px;
  }

  .hero__title {
    margin-bottom: 30px;
  }

  .hero__subtitle {
    margin-top: -19px;
    margin-bottom: 134px;
    max-width: 660px;
  }

  .about {
    padding-bottom: 69px;
  }

  .about__title {
    margin-bottom: 22px;
  }

  .about__suptitle {
    line-height: 32px;
  }

  .gallery__title {
    margin-bottom: 18px;
  }

  .gallery__leftside-container {
    max-width: 280px;
  }

  .gallery__select-suptitle {
    letter-spacing: 0.2px;
    transform: translateY(10px)
  }

  .gallery__swiper-container {
    max-width: 594px;
    max-height: 594px;
  }

  .gallery__swiper-slide {
    max-width: 280px;
    max-height: 280px;
  }

  .gallery-prev {
    margin-right: 67px;
  }

  .gallery-numbers {
    left: 38px;
  }

  .catalogue__title {
    margin-bottom: 22px;
  }

  .catalogue__tabs-nav {
    transform: translate(26px, 25px);
  }

  .catalogue__text {
    margin-bottom: 46px;
    line-height: 30px;
  }

  .tabs-content__bio {
    max-width: 437px;
    width: 100%;
  }

  .tabs-content__wrapper {
    max-width: 437px;
    width: 100%;
  }

  .tabs-content__list {
    max-height: 455px;
    width: 100%;
  }

  .ui-accordion .ui-accordion-content {
    padding: 24px 0 25px 0;
  }

  .tabs-content__link {
    margin-right: 63px;
    line-height: 28px;
    transform: translateX(-4px);
    letter-spacing: -0.5px;
  }


  .events__item {
    max-width: 290px;
    min-height: 683px;
    margin-bottom: 52px;
    padding: 217px 18px 50px 34px;
  }

  .events__item-title {
    margin-bottom: 0;
  }

  .events__item:not(:nth-child(3n)) {
    margin-right: 27px;
  }

  .events__item1 {background: url(../img/1920-events-item1.jpg) no-repeat top;}
  .events__item2 {background: url(../img/1920-events-item2.jpg) no-repeat top;}
  .events__item3 {background: url(../img/1920-events-item3.jpg) no-repeat top;}
  .events__item4 {background: url(../img/1920-events-item4.jpg) no-repeat top;}
  .events__item5 {background: url(../img/1920-events-item5.jpg) no-repeat top;}

  .events__item-title {
    line-height: 33px;
    letter-spacing: 0px;
  }

  .events__item-subtitle {
    margin-bottom: 2px;
  }

  .events__item-suptitle {
    min-height: 200px;
    letter-spacing: 0.5px;
  }

  .events__item-btn {
    bottom: 50px;
  }

  .events__btn {
    padding: 15px 35px;
  }

  .events__btn::after {
    top: 92.7%;
    left: 39.2%;
  }

  .events__btn:hover::after {
    top: 93.4%;
    left: 39.5%;
    width: 195px;
    height: 57px;
  }

  .swiper-item__img {
    max-width: 290px;
    max-height: 320px;
    object-fit: cover;
  }

  .books__title {
    transform: translateX(-4px);
  }

  .books__leftside-container {
    padding-bottom: 81px;
  }

  .books__checkbox {
    width: 123%;
  }

  .books__prices {
    width: 277px;
  }

  .prices__text--from {
    padding: 0px 7px 5px 11px;
  }

  .prices__input {
    width: 72px;
    height: 37px;
  }

  .prices__text--to {
    padding: 4px 7px 5px 6px;
  }

  .prices__text--currency {
    padding: 4px 2px 5px 6px;
  }

  .books__inner {
    padding-bottom: 0;
  }

  .books__rightside-container {
    max-width: 630px;
  }

  .projects {
    margin-bottom: 85px;
  }

  .projects__inner {
    padding-top: 84px;
  }

  .projects__text {
    margin-bottom: 16px;
  }

  .partners__swiper-container {
    max-width: 818px;
  }
  .partners__list-item {
    max-width: 384px !important;
    max-height: 128px;

    background-size: contain;
  }

  .contacts__leftside-container {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    padding: 122px 36px 103px 296px;
  }

  .contacts__address {
    line-height: 33px;
  }

  .contacts-form__input {
    max-width: 335px;
  }

  .contacts-form__btn {
    display: block;
    padding: 16px 34px;
  }

  .address__title {
    line-height: 36px;
  }

  .contacts__address {
    margin-bottom: 29px;
  }

  .social-media__span {
    width: 60px;
    height: 60px;
  }

  .social-media__whatsapp {
    background-image: url(../img/1920-icon-whatsapp.svg);
  }

  .footer__inner {
    padding: 39px 0;
  }

  .footer-logo {
    order: 1;
    margin-left: 0;
  }

  .footer__nav {
    order: 2;
  }

  .footer__nav-icon {
    width: 60px;
    height: 60px;
  }

  .footer__nav-item:not(:last-child) {
    margin-right: 31px;
  }
}
