@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

body {
  font-family: 'OpenSans';
}

.container {
  position: relative;

  max-width: 1604px;
  margin: 0 auto;
}

.title {
  margin-bottom: 30px;

  font-size: 48px;
  font-weight: 400;
}

.active {
  display: block !important;
}

.not-active {
  display: none;
}

.purple-color {
  color: #9D5CD0 !important;
  transition: color .3s ease-in-out;
}

:root {
  --mainPurple: #9D5CD0;
  --hoverPurple: #C283F3;
}

a:hover {
  color: var(--hoverPurple);
  transition: color .3s ease-in-out;
}

/* Header-up */
.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;

  background-color: #000;
}

.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-up__nav-list {
  display: flex;
  margin-right: 123px;
}

.header-up__nav-list__item > a {
font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.55px;
}

.header-up__nav-list__item:not(:last-child) {
  margin-right: 62px;
}

.header-up__enter {
  position: relative;

  font-size: 18px;
  font-weight: 400;
}

.header-up__enter::before {
  content: url(../img/icon-enter.svg);

  position: absolute;
  width: 20px;
  left: -20px;
  bottom: 0;
}

/* Widget */
.widget {
  position: absolute;
  top: 100px;
  z-index: 1000;

  width: 100%;

  background: rgba(0, 0, 0, 0.4);
}

.widget__inner {
  display: flex;
  align-items: center;
  height: 70px;
}

.widget-list__wrapper {
  display: none;
  position: absolute;
  top: 70px;

  width: 300px;
  height: 300px;

  background: rgba(0, 0, 0, 0.6);
  z-index: 1001;
}

.widget__list-section:not(:last-child) {
  margin-right: 113px;
}

.widget-list__title {
  position: relative;

  font-size: 18px;
  line-height: 25px;
  font-weight: 40;
  letter-spacing: 0.5px;

  color: #fff;
  transition: color .3s ease-in-out;

  cursor: pointer;
}

.widget-list__title:hover {
  color: var(--hoverPurple);
  transition: color .3s ease-in-out;
}

.widget-list__title::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
}

.widget__list-section:hover .widget-list__wrapper {
  display: block;
}

.widget__for-icon::before {
  content: url(../img/icon-downarrow.svg);

  position: absolute;
  right: -15px;
  top: 0;
}

/*
.widget__for-icon:hover .widget__for-icon::before {
  color: var(--hoverPurple);
  content: url(../img/icon-downarrow-hover.svg);
} */

/* .widget__for-icon:hover::before{
  content: url(../img/icon-downarrow-hover.svg);
} */
/* а что если через keyframes сделать переход от белого до тёмно фиолетового */

.widget__list-section:hover .widget__for-icon::before {
  content: url(../img/icon-uparrow.svg);
  color: var(--hoverPurple);
  top: 1px;
}

.widget-list {
  position: absolute;
  top: 0;

  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 280px;
  height: 224px;

  overflow: auto;
  overflow-x: hidden;
}

.widget-list::-webkit-scrollbar {
  width: 2px;

  background-color: #000;
}

.widget-list::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 6px solid transparent;
}

.widget-list::-webkit-scrollbar-thumb {
  height: 28px;
}

.widget-list > li {
  display: flex;
  align-items: center;
  padding-left: 14px;
  width: 220px;
  height: 40px;

  font-size: 14px;
  line-height: 19px;
  text-align: start;

  color: #fff;
}

.widget-list > li:not(:last-child) {
  margin-bottom: 20px;
}

.widget__search {
  position: relative;

  margin-left: auto;
  width: 218px;
  border-bottom: rgba(255, 255, 255, 0.85);
}

.widget__search > input {
  width: 100%;

  background-color: transparent;
  color: #fff;
}

.widget__search > input::placeholder {
  color: #fff;

  font-weight: 400;
  font-size: 18px;
}

.widget__search::before {
  content: url(../img/icon-search.svg);

  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
}

.widget__search::after {
  content: '';

  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.85);
}

/* Hero */
.hero__inner {
  padding-top: 242px;
  padding-bottom: 128px;
}

.hero__title {
  margin-bottom: 20px;
  width: 600px;

  font-size: 72px;
  font-weight: 700;
  line-height: 82px;

  color: #fff;
}

.hero__subtitle {
  margin-bottom: 92px;
  width: 580px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  color: #fff;
}

.hero__btn {
  padding: 22.5px 35px;
  border-radius: 100px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;

  background: var(--mainPurple);
  color: #fff;
}

.swiper-container {
  width: inherit;
  height: 100%;
}

.swiper-slide {
  min-height: 800px;
}

/* About */
.about {
  padding-top: 85px;
  padding-bottom: 73px;
}

.about__title {
  margin-bottom: 25px;
}

.about__suptitle {
  max-width: 1080px;

  font-size: 16px;
  line-height: 31px;
}

/* Gallery */
.gallery {
  height: 995px;

  background: url(../img/gallery-background-desktop.jpg) no-repeat;
}

.gallery__title {
  display: inline-block;
  margin-bottom: 22px;
  max-width: 400px;
  padding-top: 88px;

  color: #fff;
}

.gallery__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  height: 995px;
}

.gallery__leftside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 46px;
  width: 400px;
  height: 101%;
}

.gallery__select-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #Fff;
}

.gallery__select-suptitle {
  max-width: 370px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;

  color: #Fff;
}

.gallery__select-suptitle > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--mainPurple);
}

#gallery__select {
  width: 100%;
}

#gallery__select > option {
  font-size: 16px;
}

.gallery__rightside-container{
  height: 100%;
  width: 1150px;
}

.gallery__swiper-wrapper {
  position: relative;

  width: 1150px;
  height: 0;
}

.gallery__swiper-list {
  display: flex;
  flex-wrap: wrap;

  transform: translateY(174px);
}

.gallery__swiper-item {
  height: 350px;
  width: 350px;
}

.gallery__swiper-item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.swiper-slide {
  min-height: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: 12.3%;
  left: -44%;
}

.gallery__swiper-pagination {
  color: #fff;
}

.gallery__swiper-button-next, .gallery__swiper-button-prev {
  top: 13%;
}

.swiper-button-prev:after {
  content: url(../img/icon-swiper-leftarrow.svg);
}

.swiper-button-next:after {
  content: url(../img/icon-swiper-rightarrow.svg);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 88.5%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 6px;
}

/* Choices */
.choices__inner {
  padding: 3.5px 15px 13.5px 15px;
  min-height: 40px;
  border: 1px solid #fff;
  border-radius: 6px;

  background-color: transparent;
  color: #fff;
  opacity: 1;

  font-size: 16px;
  font-weight: 400;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one]::after {
  content: url(../img/icon-downarrow.svg);

  top: 8px;
  right: 20px;

  border-color: transparent transparent transparent;
}

.choices[data-type*=select-one].is-open::after {
  content: url(../img/icon-uparrow.svg);

  top: 15px;
  right: 20px;

  border-color: transparent transparent transparent;
}

.choices__list--dropdown {
  border-color: transparent;

  background-color: transparent;
  color: #999;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.is-open .choices__list--dropdown {
  border: none;
}

.choices__list--dropdown .choices__item {
  padding: 3px 20px 4px 25px;
  width: 100%;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  border: 1px solid #999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  border: 1px solid #fff;
  transition: border .2s ease-in-out;

  color: #fff;
  transition: color .2s ease-in-out;

  background-color: transparent;
}

.choices__item--disabled {
  display: none;
}

/* Catalogue */
.catalogue__title {
  margin-bottom: 27px;
}

.catalogue__inner {
  position: relative;

  padding-top: 87px;
}

.catalogue__text {
  margin-bottom: 50px;
  max-width: 1080px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.catalogue__tabs-nav {
  position: absolute;
  top: 82px;
  left: 13.2%;
  right: 0;
}

.catalogue__tabs-nav > ul {
  display: flex;
}

.catalogue__tabs-nav > ul > li {
  width: 66px;
  height: 66px;
}

.catalogue__tabs-nav > ul > li:not(:last-child) {
  margin-right: 30px;
}

.catalogue__tabs-nav > ul > li > a {
  display: block;

  width: 66px;
  height: 66px;
}

.catalogue__tabs-nav ul li a.active {
  border: 2px solid var(--mainPurple);
  border-radius: 50%;

  pointer-events: none;
}

.tabs-content__bio {
  margin-right: 50px;
  width: 750px;
  height: 100%;
}

.bio__wrapper {
  display: none;
}

.accordion-card.card-active {
  position: static;
  opacity: 1;
  width: auto;
  height: auto;
  z-index: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity .3s linear,
  -webkit-transform .25s linear;
  transition: opacity .3s linear,
  -webkit-transform .25s linear;
  -o-transition: transform .25s linear,
  opacity .3s linear;
  transition: transform .25s linear,
  opacity .3s linear;
  transition: transform .25s linear,
  opacity .3s linear,
  -webkit-transform .25s linear;
}

.bio__img {
  margin-bottom: 26px;
}

.bio__name {
  margin-bottom: 11px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.bio__date {
  margin-bottom: 5px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  color: #cacaca;
}

.bio__text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.tabs-content__title {
  line-height: 32px;
  font-weight: 600;

  color: #333;
}

.catalogue__tabs-content {
  display: flex;
  margin-bottom: 86px;
}

.tabs-content__wrapper {
  display: none;
  width: 800px;
}

.tabs-content__wrapper.active {
  display: block;
}

.tabs-content__list {
  display: flex;
}

.tabs-content__list > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: #333;
}

.tabs-content__list-column {
  max-width: 210px;
}

.tabs-content__list-column:not(:last-child) {
  margin-right: 47px;
}

.tabs-content__list-column > a {
  display: inline-block;

  transition: color .2s;
}

.tabs-content__list-column > a:hover {
  color: var(--mainPurple);
  transition: color .2s;
}

.faded {
  opacity: 0;
  transition: opacity .2s;
}

.faded.in {
  opacity: 1;
  transition: opacity .2s;
}

/* Catalogue accordion */
.ui-state-active {
  background-color: transparent;
}

.ui-state-focus {
  border-bottom: 1px solid var(--mainPurple);
  outline: none;

  background-color: transparent;
}

.ui-icon {
  position: absolute;
  right: 0;

  width: 50px;
  height: 50px;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background: url(../img/icon-accordion-uparrow.svg);
}

.ui-icon, .ui-widget-content .ui-icon {

  background: url(../img/icon-accordion-downarrow.svg);
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background: url(../img/icon-accordion-uparrow.svg) !important;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background: url(../img/icon-accordion-downarrow.svg);
}

.ui-accordion-header-collapsed {
  background-color:#fff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-bottom: 1px solid #CACACA;
  border-top: none;
  border-right: none;
  border-left: none;
}

.ui-state-default:first-child, .ui-widget-content .ui-state-default:first-child, .ui-widget-header .ui-state-default:first-child, .ui-button:first-child, html .ui-button.ui-state-disabled:hover:first-child, html .ui-button.ui-state-disabled:active:first-child {
  border-top: 1px solid #CACACA;
}

.ui-accordion .ui-accordion-header {
  padding-top: 35px;
  padding-bottom: 44px;
  padding-right: 0;
  padding-left: 0;

  font-size: 24px;
}

.ui-accordion .ui-accordion-content {
  padding: 24px 75px 26px 0;
}

.ui-widget-content {
  border-top: 1px solid var(--mainPurple) !important;
  border-bottom: 1px solid var(--mainPurple);
  border-right: none;
  border-left: none;
}

/* Events */
.events {
  margin-bottom: 77px;
}

.events__title {
  margin-bottom: 20px;
}

.events__inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.events__item {
  position: relative;

  margin-bottom: 50px;
  padding: 350px 30px 50px 50px;
  width: 500px;
  height: 700px;
  border: 1px solid #cacaca;
  animation: appearance 0.7s linear forwards
}

.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.events__item-subtitle {
  position: absolute;
  bottom: 352px;
  right: 17px;

  min-width: 210px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-align: end;

  color: #999;
}

.events__item-title {
  max-width: 420px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -1px;
}

.events__item-suptitle {
  max-width: 400px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.events__item-link {
  position: absolute;
  bottom: 43px;
  left: 49px;

  border-bottom: 1px solid var(--mainPurple);

  font-size: 16px;
  line-height: 23px;
  font-weight: 400;

  color:var(--mainPurple) !important;
}

.events__btn {
  margin: 0 auto;
  padding: 17px 35px;
  border: 2px solid var(--mainPurple);
  border-radius: 30px;

  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;

  background-color: #fff;
  color: var(--mainPurple);
}

/* Books */
.books {
  background: url(../img/books-mainbackground-desktop.jpg) no-repeat center;
}

.books__inner {
  display: flex;
  padding-bottom: 75px;
}

.books__leftside-container {
  margin-right: 110px;
}

.books__title {
  margin-top: 86px;
  margin-bottom: 22px;

  color: #fff;
}

.books__checkbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.checkbox-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;

  color: #fff;
}

.checkbox-label {
  position: relative;

  padding-left: 24px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  color: #fff;
  transition: color .3s ease-in-out;

  cursor: pointer;
}

.checkbox-label__input {
  display: none;
}

.checkbox-label__input + span {
  position: absolute;
  top: 8px;
  left: 0;

  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  transition: border .3s ease-in-out;

  text-align: center;
}

.checkbox-label__input + span::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: opacity .3s ease-in-out;
  background: url(../img/icon-checkbox-dot.svg) no-repeat center;
}

.checkbox-label__input:checked + span::before {
  opacity: 1;
}

.checkbox-label__input:checked + span {
  border: 1px solid var(--mainPurple);
  transition: border .3s ease-in-out;
}

.prices__title {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 700;

  color: #fff;
}

.books__prices {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.prices__label {
  text-align: center;
}

.prices__text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  color: #fff;
}

.prices__text--from {
  padding: 4px 7px 5px 18px;
}

.prices__text--to {
  padding: 4px 7px 5px 9px;
}

.prices__input {
  padding: 0 10px;
  width: 80px;
  height: 40px;

  color: #fff;
  background: rgba(157, 92, 208, 0.5);
}

.prices__text--currency {
  padding: 4px 16px 5px 11px;
}

.books__rightside-container {
  height: 100%;
  width: 1150px;
}

.books__swiper-list {
  display: flex;
  padding-top: 174px;
}

.swiper-item {
  max-width: 350px;
}

.swiper-item:not(:last-child) {
  margin-right: 50px;
}

.swiper-item__img {
  margin-bottom: 20px;
}

.swiper-item > div {
  display: flex;
  justify-content: space-between;
}

.swiper-item__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  color: #fff;
}

.swiper-item__price {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: italic;

  color: #fff;
}

.swiper-item__author {
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  color: #fff;
}

.swiper-item__btn {
  padding: 8px 21px 8px 18px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  color: #fff;
  background: transparent;
}

.books__swiper-pagination {
  height: 50px;
  top: 120px;
  left: -512px;

  color: #fff;
}

.books__swiper-button-prev {
  top: 127px;
  left: 1px;
}

.books__swiper-button-next {
  top: 127px;
  left: 100px;
}

/* Projects */
.projects {
  margin-bottom: 80px;
}

.projects__inner {
  padding-top: 88px;
}

.projects__title {
  margin-bottom: 22px;
}

.projects__text {
  margin-bottom: 19px;
  max-width: 1080px;

  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.projects__text > a {
  color: var(--mainPurple);
}

.projects__tooltip {
  position: absolute;
}

.tooltip__marker {
  position: absolute;
  top: 8px;
  right: 2px;

  width: 16px;
  height: 16px;

  background: url(../img/icon-tooltip-beforehover.svg) center no-repeat;
  transition: background .3s ease-in-out;

  cursor: pointer;
}

.tooltip__marker:hover,
.tooltip__marker:focus {
  background: url(../img/icon-tooltip.svg) center no-repeat;
  transition: background .3s ease-in-out;

  outline: none;
}

.tooltip__marker:hover + .tooltip__popup,
.tooltip__marker:focus + .tooltip__popup {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.tooltip__popup {
  position: absolute;
  bottom: 10px;
  left: -157px;
  z-index: 100;

  padding: 8px 11px;
  width: 270px;
  margin-top: 10px;

  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;

  background: #cacaca;
  color: #fff;

  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.tooltip__popup::after {
  content: url(../img/icon-arrow-fortooltip.svg);

  position: absolute;
  top: 89%;
  left: 50%;

  width: 20px;

  transform: rotate(90deg);
}

.partners__title {
  margin-bottom: 23px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.partners__swiper-container {
  padding: 0 75px;
  width: 100%;
}

.partners__list {
  display: flex;
  height: 150px;
}

.partners__list-item {
  display: flex;
  align-items: center;
  width: 450px;

  background-repeat: no-repeat;
  background-position: center;
  transition: background .3s ease-in-out;

  cursor: pointer;
}

.partners__list-item:not(:last-child) {margin-right: 50px;}

.partners__list-item:hover {transition: background .3s ease-in-out;}

#p__l1 {background-image: url(../img/partners-swiper1\(not-hover\).jpg);}

#p__l1:hover {background-image: url(../img/partners-swiper1\(hover\).jpg);}

.p__l2 {background-image: url(../img/partners-swiper2\(not-hover\).jpg);}

.p__l2:hover {background-image: url(../img/partners-swiper2\(hover\).jpg);}

.p__l3 {background-image: url(../img/partners-swiper3\(not-hover\).jpg);}

.p__l3:hover {background-image: url(../img/partners-swiper3\(hover\).jpg);}

.p__l4 {background-image: url(../img/partners-swiper4\(not-hover\).jpg);}

.p__l4:hover {background-image: url(../img/partners-swiper4\(hover\).jpg);}

.p__l5 {background-image: url(../img/partners-swiper5\(not-hover\).jpg);}

.p__l5:hover {background-image: url(../img/partners-swiper5\(hover\).jpg);}

.p__l6 {background-image: url(../img/partners-swiper6\(not-hover\).jpg);}

.p__l6:hover {background-image: url(../img/partners-swiper6\(hover\).jpg);}

.p__l7 {background-image: url(../img/partners-swiper7\(not-hover\).jpg);}

.p__l7:hover {background-image: url(../img/partners-swiper7\(hover\).jpg);}

.p__l8 {background-image: url(../img/partners-swiper8\(not-hover\).jpg);}

.p__l8:hover {background-image: url(../img/partners-swiper8\(hover\).jpg);}

.p__l9 {background-image: url(../img/partners-swiper9\(not-hover\).jpg);}

.p__l9:hover {background-image: url(../img/partners-swiper9\(hover\).jpg);}

.partners__swiper-button-prev {
  top: 50%;
  left: 5px;
}

.partners__swiper-button-next {
  top: 50%;
  left: 98%;
}

.partners__swiper-button-prev::after {
  content: url(../img/icon-leftarrow-for_partners_swiper.svg);

  top: 50%;
  left: 5px;
}

.partners__swiper-button-next::after {
  content: url(../img/icon-rightarrow-for_partners_swiper.svg);

  top: 50%;
  left: 98%;
}

/* Contacts */
.contacts__title {
  margin-bottom: 23px;
}

.contacts__inner {
  position: relative;
}

.contacts__leftside-container {
  position: absolute;
  z-index: 100;

  padding: 123px 123px 123px 148px;
  width: 700px;
  border: 1px solid #cacaca;

  background-color: #fff;
}

.contacts__address {
  margin-bottom: 31px;

  line-height: 32px;
  font-style: normal;
}

.address__title {
  font-size: 24px;
  font-weight: 600;
}

.address__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.form__title {
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.contacts-form {
  margin-bottom: 35px;
}

.contacts-form__input {
  margin-bottom: 23px;
  padding: 4px 24px;
  width: 400px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 100px;
}

.contacts-form__input::placeholder {
  font-weight: 14px;
  line-height: 32px;
  font-weight: 400;
}

.contacts-form__btn {
  padding: 17px 35px;
  border: 2px solid var(--mainPurple);
  border-radius: 30px;

  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;

  background-color: #fff;
  color: var(--mainPurple);
}

.social-media__container > a > span {
  display: inline-block;
  width: 40px;
  height: 40px;

  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.contacts__rightside-container {
  width: 100%;
  height: 703px;
}

[class *= 'ground-pane'] {
  filter: grayscale(1);
}

/* Footer */
.footer {
  background-color: #000;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.footer__nav-list > a > span {
  display: inline-block;
  width: 45px;
  height: 45px;

  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.footer__nav-list > a {
  display: inline-block;
}

.footer__nav-list > a:not(:last-child) {
  margin-right: 17px;
}
